{% extends "monitoring/starter.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Add New Technician</h3><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form role="form">
        <div class="box-body">
          <div class="form-group">
            <label for="exampleInputPassword1">First Name</label>
            <input type="text" class="form-control" id="fName" placeholder="first name">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Last Name </label>
            <input type="text" class="form-control" id="lName" placeholder="second name">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1"> Password</label>
            <input type="password" class="form-control" id="retypePassword" placeholder="Password">
          </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
          <button type="changePassword" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}
