{% extends "monitoring/pool owner/starter-owner.html" %}

   {% block content %}

   <style>
tfoot {  font-weight: bold;}

</style>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="row"  style="padding-bottom:10px;">
              <div class="col-xs-2">
                <select class="form-control" style="width: 100%;">
                  <option selected="selected">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="col-xs-2">
                <select class="form-control" style="width: 100%;">
                  <option selected="selected">Year</option>
                  <option>2017</option>
                  <option>2018</option>
                </select>
              </div>
              <div class="col-xs-2">
                  <button type="button" class="btn btn-success">apply
              </div>
            </div>
            <div class="box">
              <center><h3 class="box-title">Chemical Consumption Report</h3></center>
                
              <center>Date Generated: {{ dg }}</center>
              <center>Report for: {{ rm }}</center>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered ">
                  <thead>
                    <th>Date</th>
                    <th>Chlorine</th>
                    <th>DE Powder</th>
                    <th>Ash Powder</th>
                    <th>Muriatic</th>
                    <th>Estimated<br>Amount Spent</th>
                  </thead>
                {% if ic > 0 %}
                {% for item in chemicalItems %}
                <tr>
                    <td>{{ item.datetimeAccomplished }}</td>
                    <td align="right">{{ item.act_chlorine }}</td>
                    <td align="right">{{ item.act_chlorine }}</td>
                    <td align="right">{{ item.act_chlorine }}</td>
                    <td align="right">{{ item.act_chlorine }}</td>
                    <td align="right">Function Unavailable</td>
                </tr>
                {% endfor %}
                <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right">{{ ct }}</td>
                    <td align="right">{{ dt }}</td>
                    <td align="right">{{ bt }}</td>
                    <td align="right">{{ mt }}</td>
                    <td align="right">Function Unavailable</td>
                </tr>
                </tfoot>
                {% else %}
                <tr>
                    <td>Nothing to display</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->


            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>


   {% endblock %}
