{% extends "monitoring/pool owner/starter-owner.html" %}
{% block content %}
<div class="box">
  <div class="box-header">
    <h3 class="page-header">Searches for *searched name*.....</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-striped">

      <tr>
        <td><a class="page-header" href="asas.html">Pool Technician No.1</a>
          <br> <div class="pull-left">PoolTech1xd</div>
        </td>

      </tr>

      <tr>
        <td><a class="page-header" href="asas.html">Pool Technician No.2</a>
          <br> <div class="pull-left">PoolTech2xd</div>
        </td>
      </tr>

      <tr>
        <td><a class="page-header" href="asas.html">Pool Technician No.3</a>
          <br> <div class="pull-left">PoolTech3xd</div>
        </td>
      </tr>

    </table>
  </div>
  <!-- /.box-body -->
</div>
{% endblock %}
