{% extends "monitoring/pool owner/starter-owner.html" %}
{% block scripts %}
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}
{% block content %}
{{ debugger }}
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Pool Technician List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
            </tr>
            </thead>
            <tbody>
{% for xuser in names %}
            <tr>
              <td>{{ xuser }}</td>
    {% for xstatus in status %}
        {% if forloop.counter == forloop.parentloop.counter %}
           <td> 
            {% if xstatus == 'Active' %}
          <label class="label label-success" style="font-size:15px">
            Active
          </label> 
            {% else %}
            <label class="label label-danger" style="font-size:15px">
            Inactive
            </label>  
            {% endif %}
         </td>
        {% endif %}
    {% endfor %}
            </tr>
{% endfor %}

            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}
