{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
{{ debugger }}
<div class="row">
  <div class="col-md-12">
    {% if not display == none %}
    <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p>{{ display }}</p>
    </div>

    {% endif %}
    <div class="box box-primary">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size:35px;">Update Chemical Item Details</h1><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">

            <div class="form-group" style="padding-top:15px;">
              <label>Select Pool</label>
              <select class="form-control" name="poolPK">

                <option value ="pool">pool</option>

              </select>
            </div>

            <div class="form-group" style="padding-top:15px;">
              <label>Price</label>
              <input class="form-control">
            </div>

            <div class="form-group">
              <label>Effective Date:</label>

              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" name="dRange" class="form-control pull-right" id="reservation">
              </div>
              <!-- /.input group -->
            </div>




          <div class="col-xs-3"></div>
        </div>


      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-xs-9">
          <button type="submit"  class="btn btn-primary pull-right">Confirm</button>
          <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-home">Cancel</button>
        </div>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>


{% include "monitoring/pool technician/includes/cancel-modal.html" %}

{% endblock %}
