{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Compute for Chlorine</h3><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:displayChlorineChemical' %}>
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <div class="form-group" style="padding-top:15px;">
              <label>Select Pool</label>
              <select class="form-control" name="poolPK">
                {% for poolitem in pools %}
                <option value = {{ poolitem.id }} >{{ poolitem.pool_location }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group" style="padding-top:15px;">
              <label>Chlorine Level</label>
              <select class="form-control" name="chlorineLevel">
                <option value ="0">0</option>
                <option value ="0.5">0.5</option>
                <option value ="0.8">0.8</option>
                <option value ="1">1</option>
                <option value ="1.4">1.4</option>
                <option value ="2">2</option>
                <option value ="3">3</option>

              </select>
            </div>
              <div class="form-group" style="padding-top:15px;">
              <label>Desired Chlorine Level</label>
              <select class="form-control" name="dchlorineLevel">
                <option value ="0">0</option>
                <option value ="0.5">0.5</option>
                <option value ="0.8">0.8</option>
                <option value ="1">1</option>
                <option value ="1.4">1.4</option>
                <option value ="2">2</option>
                <option value ="3">3</option>

              </select>
            </div>



          <div class="col-xs-3"></div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-xs-9">
            <button type="submit"  class="btn btn-primary pull-right">Confirm</button>
          </div>
          </div>
        </div>

      </div>

      </form>
    </div>
  </div>
</div>



{% endblock %}
