{% extends "monitoring/pool technician/starter.html" %}
{% block content %}
<div class="row">
  <div class="col-xs-12">

    {% if alert == 'success' %}
    <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p>Password successfully changed</p>
    </div>
    {% endif %}

  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Account Detail Settings</h3><br>
          </div>
          <!-- /.box-header -->

          <div class="box-body ">
            <table id="example2" class="table table-bordered table-hover">
              <thead>

              </thead>
              <tbody>
              <tr>
                  <td><strong>Username: </strong></td>
                  <td> {{ username }}</td>
              </tr>
              <tr>
                  <td><strong>Name: </strong></td>
                  <td>{{curr_fname}} {{curr_lname}}</td>
                  <td class="pull-right"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default"><i class="fa fa-edit"></i>
                    edit
                  </button></td>
              </tr>
              <tr>
                  <td><strong>Password: </strong></td>
                  <td> *********</td>
                  <td class="pull-right"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-password"><i class="fa fa-edit"></i>
                    edit
                  </button></td>

              </tr>

            </table>

          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->


        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <div class="modal fade" id="modal-default">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Change Pssword</h4>
          </div>
          <form method="POST" >
            {% csrf_token %}
          <div class="modal-body">
            {{form1.first_name.label_tag}}
            {{form1.first_name}}
            {{form1.last_name.label_tag}}
            {{form1.last_name}}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <input type="submit" name="editDetails"  value="Save Changes "class="btn btn-primary" id="submitBtn">
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-password">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Details</h4>
            <small>Fill up the input boxes that you wish to change.</small>
          </div>
          <form method="POST" >
            {% csrf_token %}
          <div class="modal-body">
            {{form2.old_password.label_tag}}
            {{form2.old_password}}
            {{form2.new_password1.label_tag}}
            {{form2.new_password1}}
            {{form2.new_password2.label_tag}}
            {{form2.new_password2}}

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
            <input type="submit" name="password"  value="Save Changes "class="btn btn-primary" id="submitBtn">
          </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <!--Modal Remove Client-->

    <div class="modal fade" id="modal-remove-client">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Deactivate Client</h4>
          </div>
          <form method="POST">
            {% csrf_token %}
          <div class="modal-body">
            <p>Are you sure do you want deactivate your account?</p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancel</button>
            <input type="submit" name='deactivate' value="Deactivate"class="btn btn-primary btn-sm btn-flat">
          </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

</div>

</div>
{% endblock %}
