{% extends "monitoring/pool technician/starter.html" %}

   {% block content %}
   <div class="row">
      {% for item in pool %}
      <div class="col-md-4">
        <div class="box box-success">
          <div class="box-header with-border">
            <h3 class="box-title">{{ item.pool_location }}</h3>
            <a href="pool"></a>
          </div>
            <div class="row">
              <div class="col-md-6" >

                  <label style="font-size:30px; float: right;padding-right:40px;padding-bottom:20px;">80%</label>
                    <small>Chlorine</small>
              </div>
              <div class="col-md-6">
                <label style="font-size:30px; float: right; padding-right:90px;">7</label>
                  <small >pH</small>
              </div>
            </div>
            
            <div class="row">
              <div class="col-md-6">
                  {% for turbidity in turbidity %}
                        {% if turbidity.poolID == item %}
                  <label style="font-size:30px; float: right; padding-right:10px;">{{ turbidity.temp_turbiditylevel }}</label>
                        {% else %}
                            <label style="font-size:30px; float: right; padding-right:10px;">NO VALUE</label>
                        {% endif %}
                  {% endfor %}
                  <small >Turbidity</small>
              </div>
              <div class="col-md-6">
                <label style="font-size:30px; float: right; padding-right:40px;">{{ item.Temp_Temperature.temp_temperaturelevel }}</label>
                  <small>Turbidity</small>
              </div>
            </div>

        </div>
      </div>
      {% endfor %}
   </div>



{% endblock %}
