{% extends "monitoring/pool technician/starter.html" %}

   {% block content %}
<p>{{ debug_check }}</p>
   <div class="row">
      {% for poolitem in pool %}
      <div class="col-md-4">
        <div class="box box-success" type="submit">
          <div class="box-header with-border">
            <h3 class="box-title">
                <a href="{% url 'monitoring:poolDetails' poolitem.id %}" style="font-size:25px;">{{ poolitem.pool_location }}</a>
              </h3>
            <a href="pool"></a>
          </div>
            <div class="row">
                {% for chlorinelevel in chlorine %}
                {% if forloop.counter == forloop.parentloop.counter %}

                <table id="example2" class="table table-bordered ">
                  <tbody>
                  <tr>
                    <td style="padding-left:20px;font-size:15px;"><div><strong>Water Quality Average</strong></div></td>
                    <td><strong>ahhhh</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td style="padding-left:20px;"><div>Chlorine Effectiveness</div></td>
                    <td><strong>{{ chlorinelevel }}</strong></td>
                    <td></td>
                  </tr>
                  {% endif %}
                  {% endfor %}
                  {% for phlevel in ph%}
                  {% if forloop.counter == forloop.parentloop.counter %}
                <tr>
                    <td style="padding-left:20px;">pH</td>
                    <td><strong>{{ phlevel }}</strong></td>
                    <td></td>
                </tr>
                  {% endif %}
                  {% endfor %}

                  {% for turbiditylevel in turbidity%}
                  {% if forloop.counter == forloop.parentloop.counter %}
                <tr >
                  <td style="padding-left:20px;" >Turbidity</td>
                  <td><strong>{{ turbiditylevel }}</strong></td>
                  <td></td>

                </tr>
                  {% endif %}
                  {% endfor %}
                  {% for temperaturelevel in temperature %}
                  {% if forloop.counter == forloop.parentloop.counter %}
                <tr>
                  <td style="padding-left:20px;">Temperature</td>
                  <td><strong>{{ temperaturelevel }}</strong></td>

                </tr>
                  {% endif %}
                  {% endfor %}

                </table>


            </div>




        </div>
      </div>
      {% endfor %}
   </div>



{% endblock %}
