{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
{{ debugger }}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size:25px;">{{ poolname }}</h1><br>
        <small style="font-size:18px;">{{ fromDate }} - {{ toDate }}</small><br>
        {% if status == 'Notified' %}
          <label class="label label-warning" style="font-size:15px">
            Notified
          </label>
         {% elif status == 'Accomplished' %}
         <label class="label label-success" style="font-size:15px">
           Accomplished
         </label>
        {% elif status == 'Late' %}
        <label class="label label-danger" style="font-size:15px">
          Late
        </label>
        {% endif %}
      </div>


      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:maintenanceDetailsChemicals' %}>
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">

            <div>
              <div>
                <div>
                  <h3>Estimated Chemical Volume</h3>
                  </div>


                  <div class="row">
                    <div class="col-xs-4">
                      <table id="example2" class="table table-bordered ">
                        <thead>

                        </thead>
                      <tr>
                          <td><label>Muriatic:</label></td>
                          <td  align="right">{{ muriaticAcid }}</td>
                      </tr>
                      <tr>
                          <td><label>Soda Ash:</label></td>
                          <td  align="right">{{ sodaAsh }}</td>
                      </tr>
                      <tr>
                          <td><label>DE Powder:</label></td>
                          <td  align="right">{{ dePowder }}</td>
                      </tr>
                      <tr>
                          <td><label>Chlorine:</label></td>
                          <td  align="right">{{ chlorine }}</td>
                      </tr>


                      </table>

                    </div>
                  </div>

              </div>
              </div>


          </div>
          <div class="col-xs-3"></div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-xs-9">
        {% if showButton == 1 %}
            <button type="submit"  class="btn btn-primary pull-right">Finish Maintenance</button>
        {% endif %}
          </div>
          </div>
        </div>

      </div>
    <input type="hidden" name="maintenanceid" value={{ schedule_id }} >
      </form>
    </div>
  </div>

{% endblock %}
