{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
{{ debugger }}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">{{ poolname }}</h3><br>
        <small>{{ fromDate }} - {{ toDate }}</small><br>
        {% if status == 'Notified' %}
          <small class="label label-warning">
            Notified
          </small>
         {% elif status == 'Accomplished' %}
         <small class="label label-success">
           Accomplished
         </small>
        {% elif status == 'Late' %}
        <small class="label label-danger">
          Late
        </small>
        {% endif %}
      </div>


      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:maintenanceDetailsChemicals' %}>
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">

            <div>
              <div>
                <div>
                  <h4>Estimated Chemical Volume</h4>
                  <small>The Following are the measurements of chemical that you need to pour in the pool water</small>
                  </div>


                  <div class="row">
                    <div class="col-xs-4">
                      <table id="example2" class="table table-bordered ">
                        <thead>

                        </thead>
                      <tr>
                          <td><label>Muriatic:</label></td>
                          <td  align="right">{{ muriaticAcid }}</td>
                      </tr>
                      <tr>
                          <td><label>Soda Ash:</label></td>
                          <td  align="right">{{ sodaAsh }}</td>
                      </tr>
                      <tr>
                          <td><label>DE Powder:</label></td>
                          <td  align="right">{{ dePowder }}</td>
                      </tr>
                      <tr>
                          <td><label>Chlorine:</label></td>
                          <td  align="right">{{ chlorine }}</td>
                      </tr>


                      </table>

                    </div>
                  </div>

              </div>
              </div>


          </div>
          <div class="col-xs-3"></div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-xs-9">
        {% if showButton == 1 %}
            <button type="submit"  class="btn btn-primary pull-right">Finish Maintenance</button>
        {% endif %}
          </div>
          </div>
        </div>

      </div>
    <input type="hidden" name="maintenanceid" value={{ schedule_id }} >
      </form>
    </div>
  </div>

{% endblock %}
