{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size:25px;">Maintenance Schedule Details</h1><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:submitMaintenanceChemicals' %} >
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
                <div>
                <h4>Actual Chemicals </h4>
                <label>Muriatic:</label><br>
                <input type="number" name="muriaticAcid" class="form-control" placeholder={{ muriaticAcid }} value={{ muriaticAcid }} />
                <label>Ash Soda:</label><br>
                <input type="number" name="sodaAsh" class="form-control" placeholder={{ sodaAsh }} value={{sodaAsh }} />
                <label>de Powder:</label><br>
                <input type="number" name="dePowder" class="form-control" placeholder={{ dePowder }} value={{ dePowder }} /><label>chlorine:</label><br>
                <input type="number" name="chlorine" class="form-control" placeholder={{ chlorine }} value={{ chlorine }} />
                </div>
              <input type="hidden" name="maintenanceId" value={{ schedule_id }}
          </div>
          <div class="col-xs-3"></div>
        </div>

      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-xs-9">
          <button type="submit"  class="btn btn-primary pull-right">Confirm</button>
        </div>
        </div>
      </div>


      </form>
    </div>
  </div>

{% endblock %}
