{% extends "monitoring/pool technician/starter.html" %}
{% block scripts %}

<script>
    new Morris.Line({
        element: 'phChart',
        data: [
            {% for item in ph %}
            {y: '{{item.final_phdatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_phlevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['PH level']
    });

    new Morris.Line({
        element: 'tempChart',
        data: [
            {% for item in temperature %}
            {y: '{{item.final_temperaturedatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_temperaturelevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['Temperature level']
    });

    new Morris.Line({
        element: 'turbidityChart',
        data: [
            {% for item in turbidity %}
            {y: '{{item.final_turbiditydatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_turbiditylevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['Temperature level']
    });

    new Morris.Line({
        element: 'forecastChart',
        data: [
          {y: '', item1: , item2: }, //kaw na magpalit netong mga nakasulat

        ],
        xkey: 'y',
        ykeys: ['item1', 'item2'],
        labels: ['Item 1', 'Item 2'],
        lineColors: ['#a0d0e0', '#3c8dbc'],
        hideHover: 'auto'
    });



    $('.applyBtn').on('click', function() {
        var dateValue = $('.date-value').text()
        var datestart = dateValue.split('-')[0]
        var dateend = dateValue.split('-')[1]
        $('.date-value-start').val(datestart)
        $('.date-value-end').val(dateend)
        $('.date-form').submit();
        //console.log(dateValue.split('-')[0] )
        //console.log(dateValue.split('-')[1] )
    })



      $(function () {
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })
      })
</script>
{% endblock %}
{% block content %}

  <h1 class="page-header" style="font-size:35px;border-bottom:1px solid #6c6c6d;">{{pool.pool_name}}</h1>


  <table>
    <tr>
      <td style="padding-left:10px;padding-bottom:13px;">
        <label>Start Date</label>
        <div class="form-group">
          <div class="input-group date">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <input type="text" class="form-control pull-right" id="datepicker" placeholder="mm/dd/yy">
          </div>
          <!-- /.input group -->
        </div>
        </td>
        <td style="padding-left:10px;padding-bottom:13px;">
          <label>End Date</label>
          <div class="form-group">
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker" placeholder="mm/dd/yy">
            </div>
            <!-- /.input group -->
          </div>
          </td>
      <td style="padding-left:10px;">
        <button type="button" class="applyBtn btn btn-success">apply
          </button>
      </td>
    </tr>
  </table>
  <div class="row">
    <div class="col-md-12">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#waterParameter" data-toggle="tab"><h4>Water Parameter Trends</h4></a></li>
          <li><a href="#poolCalendar" data-toggle="tab"><h4>Pool Calendar Schedule</h4></a></li>
          <li><a href="#poolForecast" data-toggle="tab"><h4>Water Parameter Forecast</h4></a></li>
          <li><a href="#chemicalUsage" data-toggle="tab"><h4>Chemical Usage</h4></a></li>
        </ul>
        <div class="tab-content">
          <div class="active tab-pane" id="waterParameter">


            <!--water parameters statistics -->

            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">pH Level</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body chart-responsive">
                <div class="chart" id="phChart" style="height: 150px;">

                </div>
              </div>
              <!-- /.box-body -->
            </div>




            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Temperature Level</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body chart-responsive">
                <div class="chart" id="tempChart" style="height: 150px;">

                </div>
              </div>
              <!-- /.box-body -->
            </div>

            <!-- LINE CHART -->
            <div class="box box-info">
              <div class="box-header with-border">
                <h3 class="box-title">Turbidity Level</h3>

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body chart-responsive">
                <div class="chart" id="turbidityChart" style="height: 150px;">

                </div>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->



            <!-- end of water parameters statistics-->
          </div>
          <!-- /.tab-pane -->
          <div class="tab-pane" id="poolCalendar">
            <!-- The pool schedule -->

            <section class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box">
                    <div class="box-header">
                      <h3 class="box-title">Pool Technician List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                          <th>Date</th>
                          <th>Time</th>
                          <th>Pool Technician Assigned</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                          <td>October 31, 2018</td>
                          <td>2:00PM - 4:00PM</td>
                          <td>Alvin De Guzman</td>
                          <td>  <label class="label label-success" style="font-size:15px"> On-Time</label>
                            </td>

                        </tr>

                        <tr>
                          <td>October 29, 2018</td>
                          <td>2:00PM - 4:00PM</td>
                          <td>Alvin De Guzman</td>
                          <td>  <label class="label label-warning" style="font-size:15px"> Delayed</label>
                            </td>

                        </tr>


                        <tr>
                          <td>October 11, 2018</td>
                          <td>2:00PM - 4:00PM</td>
                          <td>Alvin De Guzman</td>
                          <td>  <label class="label label-danger" style="font-size:15px"> Overdue</label>
                            </td>

                        </tr>

                        <tr> <!-- papalitan ko pa kulay kapag scheduledd-->
                          <td>October 31, 2018</td>
                          <td>2:00PM - 4:00PM</td>
                          <td>Alvin De Guzman</td>
                          <td>  <label class="label label-default" style="font-size:15px">Scheduled</label>
                            </td>

                        </tr>


                        </tbody>
                      </table>
                    </div>
                    <!-- /.box-body -->
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </section>

          </div>
          <!-- /.tab-pane -->

          <div class="tab-pane" id="poolForecast">

            <!-- LINE CHART -->
            <div class="box box-info">
              <div class="box-header with-border">

                <div class="box-tools pull-right">
                  <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="box-body chart-responsive">
                <div class="chart" id="forecastChart" style="height: 150px;">

                </div>
              </div>
              <!-- /.box-body -->
            </div>



          </div>





          <div class="tab-pane" id="chemicalContent">



          </div>

          <div class="tab-pane" id="chemicalUsage">
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Chemical</th>
                  <th>Amount Used</th>

                </tr>
                </thead>
                <tbody>

                <tr>
                  <td>October 31, 2018</td>
                  <td>2:00PM - 4:00PM</td>
                  <td>Baking Soda</td>
                  <td> ??</td>

                </tr>




                </tbody>
              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
  </div>







    </div>
  </div>
<form method="post" action={% url 'monitoring:filterPoolStat' %} class="date-form">
{% csrf_token %}
<input type='hidden'  name="poolPK" value='{{ pool.pk }}'>
<input type='hidden' class='date-value-start' name="dateStart">
<input type='hidden' class='date-value-end' name="dateEnd">
</form>
  {% endblock %}
