{% extends "monitoring/pool technician/starter.html" %}
{% block scripts %}
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range picker with time picker
    $('#finishtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: false
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })

  })
</script>

<script>
    new Morris.Line({
        element: 'phChart',
        data: [
            {% for item in ph %}
            {y: '{{item.final_phdatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_phlevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['PH level']
    });
    
    new Morris.Line({
        element: 'tempChart',
        data: [
            {% for item in temperature %}
            {y: '{{item.final_temperaturedatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_temperaturelevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['Temperature level']
    });
    
    new Morris.Line({
        element: 'turbidityChart',
        data: [
            {% for item in turbidity %}
            {y: '{{item.final_turbiditydatetime|date:"Y-m-d H:00:00"}}', item1: '{{item.final_turbiditylevel}}' }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ],
        xkey: 'y',
        ykeys: ['item1'],
        lineColors: ['#3c8dbc'],
        labels: ['Temperature level']
    });
    
    $('.applyBtn').on('click', function() {
        var dateValue = $('.date-value').text()
        var datestart = dateValue.split('-')[0]
        var dateend = dateValue.split('-')[1]
        $('.date-value-start').val(datestart)
        $('.date-value-end').val(dateend)
        $('.date-form').submit();
        //console.log(dateValue.split('-')[0] )
        //console.log(dateValue.split('-')[1] )
    })
</script>
{% endblock %}
{% block content %}
{{ debug_check }}
  <h1>{{pool.pool_location}}</h1>

  <div class="row">
    <div class ="col-xs-2">
      <div class="form-group">
        <div class="input-group">
          <button type="button" class="date-btn btn btn-default pull-right" id="daterange-btn">
            <span class="date-value">
              <i class="fa fa-calendar"></i> Select Date Range
            </span>
            <i class="fa fa-caret-down"></i>
          </button>  
        </div>
      </div>  
    </div>
      <div class="col-xs-10">
        <button type="button" class="applyBtn btn btn-success">apply
          </button>
      </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">pH Level</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="phChart" style="height: 150px;">

          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Temperature Level</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="tempChart" style="height: 150px;">

          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->


    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Turbidity Level</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="turbidityChart" style="height: 150px;">

          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->


    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <!-- LINE CHART -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Chlorine Effectiveness Level</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="line-chart-chlorine" style="height: 150px;">

          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->


    </div>
  </div>
<form method="post" action={% url 'monitoring:filterPoolStat' %} class="date-form">
{% csrf_token %}
<input type='hidden'  name="poolPK" value='{{ pool.pk }}'>
<input type='hidden' class='date-value-start' name="dateStart">
<input type='hidden' class='date-value-end' name="dateEnd">
</form>
  {% endblock %}
