{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
{{ debugger }}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Set Maintenance Schedule</h3><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:submitMaintenanceRequest' %}>
        {% csrf_token %}
          <input type="hidden" name="poolPK" value={{ poolPK }}>
          <input type="hidden" name="dateStart" value={{ dateStart }}>
          <input type="hidden" name="dateEnd" value={{ dateEnd }}>
          <input type="hidden" name="timeStart" value={{ timeStart }}>
          <input type="hidden" name="timeEnd" value={{ timeEnd }}>
          <input type="hidden" name="sodaAsh" value={{ sodaAsh}}>
          <input type="hidden" name="muriaticAcid" value={{ muriaticAcid }}>
          <input type="hidden" name="dePowder" value={{ dePowder }}>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <div style="padding-top:50px;">
              <h4>Estimated Chemical Volume</h4>
              <small>The Following are the measurements of chemical that you need to pour in the pool water</small>
              </div>


              <div class="row">
                <div class="col-xs-1"></div>
                  <div class="col-xs-4">
                  <table id="example2" class="table table-bordered ">
                    <thead>

                    </thead>
                  <tr>
                      <td><label>Muriatic:</label></td>
                      <td>{{ muriaticAcid }}</td>
                  </tr>
                  <tr>
                      <td><label>Soda Ash:</label></td>
                      <td>{{ sodaAsh }}</td>
                  </tr>
                  <tr>
                      <td><label>DE Powder:</label></td>
                      <td>{{ dePowder }}</td>
                  </tr>
                  </table>

                </div>
              </div>

          </div>
          <div class="col-xs-3"></div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-xs-9">
            {% if showButton == 1 %}
            <button type="submit"  class="btn btn-primary pull-right">Confirm</button>
            {% else %}
             <a href="{% url 'monitoring:setMaintenance' %}" class="pull-right">Back</a> 
            {%endif%}
          </div>
          </div>
        </div>

      </div>

      </form>
    </div>
  </div>
</div>



{% endblock %}
