{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">Set Maintenance Schedule</h3><br>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">

            <div style="padding-top:50px;">
              <h4>Chemicals Needed for *name of pool*</h4>
              <small>*schedule ng pool*</small><br>
              <label>Muriatic:</label><br>
              <label>Ash Soda:</label><br>
              <label>Chlorine:</label><br>
              </div>






          </div>
          <div class="col-xs-3"></div>
        </div>
        <div class="box-footer">
          <div class="row">
            <div class="col-xs-9">
            <a class="btn btn-default pull-right" href="{% url 'monitoring:index' %}" role="button">Cancel</a>
            <button type="submit"  class="btn btn-primary pull-right">Set Schedule</button>
          </div>
          </div>
        </div>

      </div>

      </form>
    </div>
  </div>
</div>



{% endblock %}
