{% extends "monitoring/pool technician/starter.html" %}

{% block content %}
{{ debugger }}
<div>
  <ol class="breadcrumb" style="background-color: #ecf0f5;font-size:20px;">
    <li><a href="{% url 'monitoring:setMaintenance' %}"><i class="fa fa-arrow-circle-o-left "></i> Back</a></li>
  </ol>
</div>
<div class="row">
  <div class="col-md-12">

    <div class="box box-primary">
      <div class="box-header with-border">
        <h1 class="box-title" style="font-size:25px;">Set Maintenance Schedule</h1>
      </div>
      <!-- /.box-header -->
      <!-- form start -->

      <form method="POST" action={% url 'monitoring:submitMaintenanceRequest' %}>
        {% csrf_token %}
          <input type="hidden" name="poolPK" value={{ poolPK }}>
          <input type="hidden" name="dateStart" value={{ dateStart }}>
          <input type="hidden" name="dateEnd" value={{ dateEnd }}>
          <input type="hidden" name="timeStart" value={{ timeStart }}>
          <input type="hidden" name="timeEnd" value={{ timeEnd }}>
          <input type="hidden" name="sodaAsh" value={{ sodaAshVal }}>
          <input type="hidden" name="muriaticAcid" value={{ muriaticAcidVal }}>
          <input type="hidden" name="dePowder" value={{ dePowderVal }}>
        <div class="row">
          <div class="col-xs-4"></div>
          <div class="col-xs-6">
            <div style="padding-top:50px;">
              <h3>Estimated Chemical Volume</h3>
              <div class="row">

                  <div class="col-xs-4">
                  <table id="example2" class="table table-bordered ">
                    <thead>

                    </thead>
                  <tr>
                      <td><label>Muriatic:</label></td>
                      <td align="right">{{ muriaticAcid }}</td>
                  </tr>
                  <tr>
                      <td><label>Soda Ash:</label></td>
                      <td align="right">{{ sodaAsh }}</td>
                  </tr>
                  <tr>
                      <td><label>DE Powder:</label></td>
                      <td align="right">{{ dePowder }}</td>
                  </tr>
                  </table>

                </div>
              </div>

          </div>
          <div class="col-xs-3"></div>
        </div> 
      </div>
      <div class="box-footer">
        <div class="row">
          <div class="col-xs-8">
          {% if showButton == 1 %}
          <button type="submit"  class="btn btn-primary pull-right">Confirm</button>
          {%endif%}
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-home">Cancel</button>
        </div>
        </div>
      </div>

      </form>
    </div>
  </div>
</div>

{% include "monitoring/pool technician/includes/cancel-modal.html" %}



{% endblock %}
