{% extends "monitoring/pool technician/starter.html" %}
{% block jscripts %}
{% for event in titles %}
{
          title          : "{{ event }}",
{% for item in starts %}
    {% if forloop.counter == forloop.parentloop.counter %}
          start          : new Date("{{ item }}"),
    {% endif %}
{% endfor %}
{% for item in ends %}
    {% if forloop.counter == forloop.parentloop.counter %}
          end            : new Date("{{ item }}"),
    {% endif %}
{% endfor %}
{% for item in ids %}
    {% if forloop.counter == forloop.parentloop.counter %}
          url            : "{{ item }}",
    {% endif %}
{% endfor %}
{% for item in backgroundColors %}
    {% if forloop.counter == forloop.parentloop.counter %}
          backgroundColor: "{{ item }}",
          borderColor    : "{{ item }}"
    {% endif %}
{% endfor %}
}
{% if not forloop.last %},{% endif %}
{% endfor %}
{% endblock %}
{% block content %}
{% if success == 'Success' %}
    <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <p>The Maintenance Scheduled has been accomplished.</p>
    </div>

{% endif %}


  <div class="row">
    <div class="col-md-10">
      <div style="margin:15px;">
      <h1>Pool Maintenance Schedules</h1>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="box box-solid" >
          <div class="box-header">
            <h4>Legend</h4>
         </div>
           <div class="box-body">
             <table class="table">
                    <tr>
                      <td width="1%"><svg width="18" height="18">
                        <rect width="15" height="15"
                        style="fill: #00cccc ;stroke-width:1;stroke:rgb(0,0,0)"  />
                      Sorry, your browser does not support inline SVG.
                    </svg></td>
                      <td align="left">Notified</td>

                        <td width="1%"><svg width="18" height="18">
                          <rect width="15" height="15"
                          style="fill: #3c8dbc ;stroke-width:1;stroke:rgb(0,0,0)"  />
                        Sorry, your browser does not support inline SVG.
                      </svg></td>
                        <td align="left">Scheduled</td>


                        <td width="1%"><svg width="18" height="18">
                          <rect width="15" height="15"
                          style="fill: #00a65a ;stroke-width:1;stroke:rgb(0,0,0)"  />
                        Sorry, your browser does not support inline SVG.
                      </svg></td>
                        <td align="left">Accomplished</td>

                        <td width="1%"><svg width="18" height="18">
                          <rect width="15" height="15"
                          style="fill: #f39c12 ;stroke-width:1;stroke:rgb(0,0,0)"  />
                        Sorry, your browser does not support inline SVG.
                      </svg></td>
                        <td align="left">Late</td>


                        <td width="2%"><svg width="18" height="18">
                          <rect width="15" height="15"
                          style="fill: red ;stroke-width:1;stroke:rgb(0,0,0)"  />
                        Sorry, your browser does not support inline SVG.
                      </svg></td>
                        <td align="left">Unfinished</td>

                    </tr>


                  </table>
                </class>
           </div>
        </div>
    </div>
    </div>
<div class="box box-primary">
  <div class="box-body no-padding">
    <!-- THE CALENDAR -->
    <div id="calendar"></div>
  </div>
  <!-- /.box-body -->
</div>
{% endblock %}
