{% extends "monitoring/pool owner/starter-owner.html" %}

   {% block content %}

   <style>
tfoot {  font-weight: bold;}

</style>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="row"  style="padding-bottom:10px;">
              <div class="col-xs-2">
                <select class="form-control" style="width: 100%;">
                  <option selected="selected">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                  <option>April</option>
                  <option>May</option>
                  <option>June</option>
                  <option>July</option>
                  <option>August</option>
                  <option>September</option>
                  <option>October</option>
                  <option>November</option>
                  <option>December</option>
                </select>
              </div>
              <div class="col-xs-2">
                <select class="form-control" style="width: 100%;">
                  <option selected="selected">Year</option>
                  <option>2017</option>
                  <option>2018</option>
                </select>
              </div>
              <div class="col-xs-2">
                  <button type="button" class="btn btn-success">apply
              </div>
            </div>
            <div class="box">
              <center><h3 class="box-title">Weekly Chemical Consumption Report</h3></center>
              <center>August 5, 2018</center>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered ">
                  <thead>
                    <th>Date</th>
                    <th>Chlorine</th>
                    <th>DE Powder</th>
                    <th>Ash Powder</th>
                    <th>Muriatic</th>
                    <th>Estimated<br>Amount Spent</th>
                  </thead>
                <tr>
                    <td>8/5/18</td>
                    <td align="right">900000 mL</td>
                    <td align="right">50000 grams</td>
                    <td align="right">600000 grams</td>
                    <td align="right">800000 mL</td>
                    <td align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/6/18</td>
                    <td align="right">900000 mL</td>
                    <td align="right">50000 grams</td>
                    <td align="right">600000 grams</td>
                    <td align="right">800000 mL</td>
                    <td align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/7/18</td>
                    <td align="right">900000 mL</td>
                    <td align="right">50000 grams</td>
                    <td  align="right">600000 grams</td>
                    <td  align="right">800000 mL</td>
                    <td  align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/8/18</td>
                    <td  align="right">900000 mL</td>
                    <td  align="right">50000 grams</td>
                    <td  align="right">600000 grams</td>
                    <td  align="right">800000 mL</td>
                    <td  align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/9/18</td>
                    <td  align="right">900000 mL</td>
                    <td  align="right">50000 grams</td>
                    <td  align="right">600000 grams</td>
                    <td  align="right">800000 mL</td>
                    <td  align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/10/18</td>
                    <td  align="right">900000 mL</td>
                    <td  align="right">50000 grams</td>
                    <td  align="right">600000 grams</td>
                    <td  align="right">800000 mL</td>
                    <td  align="right">P450.00</td>
                </tr>
                <tr>
                    <td>8/11/18</td>
                    <td  align="right">900000 mL</td>
                    <td  align="right">50000 grams</td>
                    <td  align="right">600000 grams</td>
                    <td  align="right">800000 mL</td>
                    <td  align="right">P450.00</td>
                </tr>


                <tfoot>
                <tr>
                    <td><label style="font-size:20px">Total:</label></td>
                    <td  align="right">6,300,000.00</td>
                    <td  align="right">350,000.00</td>
                    <td  align="right">4,200,000.00</td>
                    <td  align="right">5,600,000.00</td>
                    <td  align="right">3,150.00</td>
                      </tr>
                  </tfoot>


                  </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->


            <!-- /.box -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </section>


   {% endblock %}
