{% extends "monitoring/pool owner/starter-owner.html" %}

   {% block content %}

   <section class="content">
     <div class="row">
       <div class="col-xs-12">
         <div class="row"  style="padding-bottom:10px;">
           <div class="col-xs-2">
             <select class="form-control" style="width: 100%;">
               <option selected="selected">Month</option>
               <option>January</option>
               <option>February</option>
               <option>March</option>
               <option>April</option>
               <option>May</option>
               <option>June</option>
               <option>July</option>
               <option>August</option>
               <option>September</option>
               <option>October</option>
               <option>November</option>
               <option>December</option>
             </select>
           </div>
           <div class="col-xs-2">
             <select class="form-control" style="width: 100%;">
               <option selected="selected">Year</option>
               <option>2017</option>
               <option>2018</option>
             </select>
           </div>
           <div class="col-xs-2">
               <button type="button" class="btn btn-success">apply
           </div>
         </div>
         <div class="box">
           <center><h3 class="box-title">Employee Performance Report</h3></center>
           <center>August 2018</center>
           <!-- /.box-header -->
           <div class="box-body">
             <table id="example2" class="table table-bordered ">
               <thead>
                 <th>Employee No.</th>
                 <th>Employee Name</th>
                 <th>Total No. of <br> Pools Cleaned</th>
                 <th>Total No. of Late</th>
                 <th>On-time Percentage</th>


               </thead>
             <tr>
                 <td>0001</td>
                 <td>Christian Modino</td>
                 <td>22</td>
                 <td>6</td>
                 <td>70%</td>

             </tr>

             <tr>
                 <td>0002</td>
                 <td>Alvin De Guzman</td>
                 <td>19</td>
                 <td>0</td>
                 <td>100%</td>

             </tr>

             <tr>
                 <td>0003</td>
                 <td>Miguel Merle</td>
                 <td>13</td>
                 <td>2</td>
                 <td>82%</td>
             </tr>

             </table>
             <div class="pull-right" style="padding:right">
               <div class="row">
                   <div class="col-xs-12">
                   <table id="example2" class="table table ">
                     <thead>

                     </thead>
                   <tr>
                       <td><label>Overall Performance Percentage</label></td>
                       <td>87%</td>
                   </tr>


                   </table>

                 </div>
               </div>
             </div>

           </div>
           <!-- /.box-body -->
         </div>
         <!-- /.box -->


         <!-- /.box -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </section>



   {% endblock %}
